services:
  api:
    build: ./server
    ports:
      - "8080:8080"
    volumes:
      # This will map "server_data" (on host) to "/data" (in container)
      # If we rebuild, "server_data" stays safe on hard drive!
      - ./server/data:/root/data

  web:
    build: ./client
    ports:
      - "8000:80"
    depends_on:
      - api