services:
  api:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    restart: always

  web:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "8000:80"
    depends_on:
      - api
    restart: always